# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Don't commit private ssh
.ssh/id*
.ssh/known_hosts

# Don't commit gpg secrets
secring.*

# Don't commit node modules
node_modules
