# set paths
export BREW_PATH="/opt/homebrew/sbin:/opt/homebrew/bin:/usr/local/sbin:/usr/local/bin"
export PATH="$BREW_PATH:$PATH:$HOME/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# set default editor
export EDITOR='nano'

# utf-8 all the things
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# change prompt
export PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[m\]\$ "

# set colors
export TERM=xterm-256color
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

# set default blocksize for ls, df, du
export BLOCKSIZE=1k

# gpg
export GPG_TTY=$(tty)

# NVM plugin settings
export NVM_AUTO_USE=true
export NVM_COMPLETION=true
export NVM_LAZY_LOAD=true

# Ignores all one-word commands for more efficient bash history searching
export HISTIGNORE=?
# Long history without duplicates, flush after every command
export HISTCONTROL=ignoreboth:erasedups
export HISTSIZE=1000000

# When the shell exits, append to the history file instead of overwriting it
shopt -s histappend

{{ if (eq .chezmoi.os "darwin") }}
# directory specific .envrc files
eval "$(direnv hook zsh)"
{{ else if (eq .chezmoi.os "linux") }}
[ -d /home/linuxbrew/.linuxbrew ] && eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ end }}

# Bash completion for brew installed tools
source "$(brew --prefix)/etc/bash_completion"

# Bash completion for vv
source $( echo $(which vv)-completions)

# Use zsh nvm in Bash
source ~/.zsh-nvm/zsh-nvm.plugin.zsh

# Aliases are managed here
source ~/.shell_aliases

# Functions are managed here
source ~/.shell_functions

# Work related additions
test -f ~/.work_profile && source ~/.work_profile
