#!/bin/bash
{{ if (eq .chezmoi.os "linux") }}

{{-   if (eq .chezmoi.osRelease.id "arch") }}
sudo pacman -S aria2 --noconfirm
sudo pacman -S base-devel --noconfirm
sudo pacman -S coreutils --noconfirm
sudo pacman -S exa --noconfirm
sudo pacman -S gnupg --noconfirm
sudo pacman -S kitty --noconfirm
sudo pacman -S tmux --noconfirm
sudo pacman -S topgrade --noconfirm
sudo pacman -S zsh --noconfirm
{{-   else }}
sudo apt install -y aria2 \
    build-essential \
    cargo \
    coreutils \
    curl \
    exa \
    file \
    gnupg \
    {{ if (ne .chezmoi.arch "arm") }}
    kitty \
    {{ else }}
    guake \
    {{ end }}
    procps \
    tmux \
    zsh \
    && apt clean
sudo cargo install topgrade
{{-   end }}

{{ if (ne .chezmoi.arch "arm") }}
# Install Brew
if ! command -v brew; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    brew analytics off
else
    brew update --verbose
	brew upgrade --verbose
	brew cleanup -s
fi
{{ else }}
# Guake Config
guake --restore-preferences ~/.config/guake/guake.conf
{{-   end }}

##### fonts #####
wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Hack.zip
unzip Hack.zip -d ~/.local/share/fonts/
rm Hack.zip

wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/IBMPlexMono.zip
unzip IBMPlexMono.zip -d ~/.local/share/fonts/
rm IBMPlexMono.zip

wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/SourceCodePro.zip
unzip SourceCodePro.zip -d ~/.local/share/fonts/
rm SourceCodePro.zip

fc-cache -fv
{{ end }}