#!/bin/bash
{{ if (eq .chezmoi.os "darwin") }}
cat > $HOME/.Brewfile <<EOF
##### taps #####
# tap homebrew-fonts to install freely available fonts
tap "homebrew/cask-fonts"
# tap homebrew-cask-versions to install older apps
tap "homebrew/cask-versions"
# tap dashlane
tap "dashlane/tap"

##### brews #####
# GNU coreutils instead of outdated mac os defaults
brew "coreutils"
brew "moreutils"
# newer version of bash
brew "bash"
brew "bash-completion"
# newer version of zsh
brew "zsh"
brew "zsh-completions"

brew "curl" || true
brew "dashlane-cli" || true
brew "direnv" || true
brew "dockutil" || true
brew "duti" || true
brew "eza" || true
brew "git" || true
brew "git-delta" || true
brew "gnupg" || true
brew "m-cli" || true
brew "mas" || true
brew "pinentry-mac" || true
brew "speedtest-cli" || true
brew "trash" || true
brew "wget" || true
brew "wifi-password" || true
{{-   if eq .minimalinstall "false" }}
{{-     if eq .workconfig "true" }}
brew "lazygit" || true
{{-     else }}
brew "bradp/vv/vv" || true
{{-     end }}
brew "aria2" || true
brew "go" || true
brew "htop" || true
brew "httpie" || true
brew "irssi" || true
brew "neovim" || true
brew "newsboat" || true
brew "nmap" || true
brew "openssl" || true
brew "peco" || true
brew "pipenv" || true
brew "pnpm" || true
brew "python" || true
brew "rust-analyzer" || true
brew "stow" || true
brew "tmux" || true
brew "tmuxinator" || true
brew "topgrade" || true
brew "watch" || true
brew "weechat" || true
brew "xxh" || true
{{-   end }}

##### casks #####
cask "alfred" || true
cask "appcleaner" || true
cask "brave-browser" || true
cask "dropbox" || true
cask "evernote" || true
cask "expressvpn" || true
cask "google-chrome" || true
cask "iina" || true
cask "kitty" || true
cask "moom" || true
cask "qlvideo" || true
cask "spotify" || true
{{-   if eq .minimalinstall "false" }}
{{-     if eq .workconfig "true" }}
cask "robo-3t" || true
cask "zight" || true
cask "zoom" || true
{{-     else }}
cask "adium" || true
cask "numi" || true
cask "plex-media-player" || true
cask "sublime-text" || true
cask "tower2" || true
cask "transmission" || true
cask "tunnelblick" || true

cask "dotnet-sdk" || true
cask "mono-mdk" || true
cask "unity" || true
cask "unity-hub" || true
{{-     end }}

cask "cheatsheet" || true
cask "cyberduck" || true
cask "dash" || true
cask "docker" || true
cask "firefox-developer-edition"|| true
cask "fork"|| true
cask "gimp" || true
cask "github" || true
cask "imageoptim" || true
cask "iterm2" || true
cask "kaleidoscope2" || true
cask "keepingyouawake" || true
cask "krita" || true
cask "macdown" || true
cask "microsoft-remote-desktop" || true
cask "ngrok" || true
cask "postman" || true
cask "sequel-pro" || true
cask "slack" || true
cask "vagrant" || true
{{-     if eq .chezmoi.arch "arm64" }}
cask "virtualbox-beta" || true
{{-     else }}
cask "virtualbox" || true
{{-     end }}
cask "visual-studio-code" || true
{{-   end }}

##### fonts #####
# install IBM Plex, an excellent modern font (https://www.ibm.com/plex/)
cask "font-ibm-plex" || true
# install Adobe Source Code Pro, an excellent mono space font for programming
cask "font-source-code-pro" || true
# install Nerd fonts for terminal
cask "font-hack-nerd-font" || true
EOF
brew bundle --global || true
{{ end }}